/* #Info {
  display: block;
}

#CountDown {
  margin-left: 5px;
  display: inline-block;
}*/

#Menu {
  padding-top: 600px;
  margin-left: 280px;
  display: block;
}

#Header {
  /* position: relative; */
  display: flex;
  justify-content: flex-start;
}

#Overview {
  margin-top: 100px;
  margin-left: 600px;
}

#Reservations {
  margin-top: 200px;
  display: flex;
  justify-content: flex-end;
}
