/* #Info {
  display: block;
}

#CountDown {
  margin-left: 5px;
  display: inline-block;
}*/

#Menu {
  padding-top: 600px;
  margin-left: 280px;
  display: block;
}

#Header {
  position: relative;
  margin-left: -300px;
}

#Overview {
  margin-top: 600px;
}